<%= form_for(epm) do |f| %>
  <% if epm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(epm.errors.count, "error") %> prohibited this epm from being saved:</h2>

      <ul>
      <% epm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
