<p id="notice"><%= notice %></p>

<h1>Epms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @epms.each do |epm| %>
      <tr>
        <td><%= epm.name %></td>
        <td><%= epm.age %></td>
        <td><%= link_to 'Show', epm %></td>
        <td><%= link_to 'Edit', edit_epm_path(epm) %></td>
        <td><%= link_to 'Destroy', epm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Epm', new_epm_path %>
